.app-team-matches-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.team-matches-container {
  width: 90%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .team-matches-container {
    max-width: 1140px;
  }
}

.team-banner {
  width: 100%;
}

.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 24px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Add team-specific background colors */
.RCB {
  background: linear-gradient(to bottom, #1e293b, #a4261d);
}

.KKR {
  background: linear-gradient(to bottom, #1e293b, #5755a7);
}

.CSK {
  background: linear-gradient(to bottom, #1e293b, #f7db00);
}

.KXP {
  background: linear-gradient(to bottom, #1e293b, #d91c1f);
}

.RR {
  background: linear-gradient(to bottom, #1e293b, #da237b);
}

.MI {
  background: linear-gradient(to bottom, #1e293b, #13418b);
}

.SH {
  background: linear-gradient(to bottom, #1e293b, #f26d22);
}

.DC {
  background: linear-gradient(to bottom, #1e293b, #4f5db0);
}
